body {
	background-color: #fafafa;
	font-family:sans-serif;	
	font-size: 14px;
	color: #444444;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*
 * Common classes
 */
.grey {
	color: #999;
}
 
/*
 * Header
 */
div[data-role="header"].ui-header {
	background-color: #fff;
	color:#fff;
	text-shadow: none;
	height: 60px;
	margin-top:-2px;
	z-index: 5000;
	box-shadow: 0px 1px 2px #e5e5e5;
}

/*
 * Buttons
 */
a.nav_btn {
	font-size: 18px !important;
	text-shadow: none !important;
}

a.green {
	color: #fff !important;
	background-color: #4CAF50 !important;
}

/*
 * Activity Cards
 */
div.activity_card {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #fff;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0px 2px 1px #e5e5e5;
 }
 
div.activity_card img.profile_pic {
	width: 130px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 100%;
	border: 1px solid #b5b5b5;
}

div.activity_card div.activity_details {
	margin-left: 155px;
	margin-top: 30px;
}

div.activity_card span.name {
	font-size: 24px !important;
}

div.activity_card span.activity {
	font-size: 18px !important;
}

div.activity_card span.time {
	line-height: 45px;
}